<div class="banner-container d-flex justifify-content-around">
  <div class="banner-logo">
    <div class="banner-title">
      <%= image_tag "banner_title.png", class: "banner_title img-fluid mx-auto" %>
    </div>
    <p>Hey ! <br>Et si on t'aidait à trouver</p>
    <h3 class="ml6">
      <span class="text-wrapper">
        <span class="letters">TON JOB SAISONNIER ?
        </span>
      </span>
    </h3>
    <div class="banner-button d-flex justify-content-center">
      <%= link_to "C'est parti !", new_preference_path(step: 0), class: "btn-gradient" %>
    </div>
  </div>
  <div class="banner-image">
    <%= image_tag "banner_image.png", class: "banner_title img-fluid mx-auto" %>
  </div>
</div>


