<div class="footer">
  <div class="footer-menu justify-content-center">
    <div class="logo">
      <p>Open Season - 2019</p>
    </div>
  </div>
  <div class="copyright">
    <i class="fa fa-copyright">
    </i> Une réalisation OST - 2019 at Le Wagon
  </div>
</div>
