// Specific CSS for your home-page
.body {
  background-color: #499EAA;
}

.container-home {
  background-color: #499EAA;
}

.ccf {
  background-color: #499EAA;
  text-align: center;
}

.left-side {
  padding-left: 80px
}

.right-side {
  margin-top: 200px;
  padding-right: 80px
}

.CCF-png {
  width: 683.76px;
  height: 163.84px;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

// .home-png-left {
//   width: 544.84px;
//   height: 484px;
//   padding-left: 40px
// }

// .home-png-right {
//   width: 544.84px;
//   height: 484px;
// }
