.main {
  // height: 100vh;
  background-color:  white;
  background-repeat: no-repeat;
  background-image:  asset-url("background.png");
}

.jobs-cards-and-title {
  width:  800px;
  margin: 0 auto;
  h1 {
    font-family: "Montserrat";
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
}

.job-containers {
  display:               grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:              16px;
}

.container-logo {
  padding-top: 180px;
  padding-right: 400px;
}

.thumbnails{
  width: 350px;
  text-align: center;
  .image {
    height: 250px;
  }
  .image:hover {
    opacity: 0.9;
  }
  .title {
    font-family: 'Rancho';
    font-size:   35px;
    text-align:  center;
    color:       $charcoal;
  }
}


.container-element {
  // padding-right: 203px;
}

.container-text h3 {
  padding-left: 150px;
  font-family: 'Rancho';
}
.container-text h2 {
  font-family: 'Rancho';
}

