.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#499EAA, #499EAA);
  transform: skewY(-6deg);
  transform-origin: top left;
}

.full-screen-profil {

  background-image: url(user-background.png);
  background-repeat: no-repeat;
  background-color: white;

}

.col-12 {
  margin-bottom: -70px;
  margin-top: 30px;
}

.col-12 h1 {
  font-family: 'Ubuntu';
  padding: 0px;
  color: #f9f8f8;
}

.col-3 {
  padding:0px;
}

.container-profile-show {
  min-height:       calc(100vh - 90px);
  width:            1000px;
  margin:           0 auto;
  box-shadow:       none;
  background-color: transparent;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  width: bold;
  text-align:center;
  color: #405F76;
}

.contact {
  background-color: cadetblue;
}

.photo-profil {
  text-align: center;
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F9F8F8;
  border-radius: 3px;
  margin-bottom: 10px;
}
.fa-user-circle {
  border-radius: 50%;
  text-shadow: 1px 1px 3px grey;
  font-size: 150px;
  color: lightgray;
  margin-bottom: 5px;
}
.photo-profil p {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 16px;
  line-height: normal;
  padding:5px;
}
.info-contact {
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F9F8F8;
  border-radius: 3px;
}
.info-contact p {
  font-family: 'Ubuntu', sans-serif;
  color: grey;
  font-size: 14px;
  line-height: normal;
  padding:5px;
  border-bottom: 1px solid #499EAA;
}
.info-contact p i {
  margin-right: 10px;
  font-weight: bold;
  color: #499EAA;
}
.info-contact h4 {
  margin-right: 7px;
  margin-bottom :10px;
  text-align: center;
  font-size: 24px;
  color: #489ea9;
}

.mission{
background-color: cadetblue;
}

.favorite {
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F9F8F8;
  border-radius: 3px;
  margin-right: 15px;
}

.favorite-jobs {
  height:   185px;
  width:    100%;
  overflow: auto;
}

.favorite h3 {
  border-bottom: 1px solid #499EAA;
  font-family: 'Montserrat', sans-serif;
  color: #405F76;
  text-align: center;
  margin-bottom: 14px;
  font-size: 18px;
}
.favorite h3 i {
  color: #489EA9;
  margin-right: 5px;
  text-align: center;
}
.favorite p {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 16px;
  line-height: normal;
  padding:5px;
}
.my-missions {
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F9F8F8;
  border-radius: 3px;
}

.mission-jobs {
  height:   185px;
  width:    100%;
  overflow: auto;
}
.my-missions h3 {
  border-bottom: 1px solid #499EAA;
  font-family: 'Montserrat', sans-serif;
  color: #405F76;
  font-size: 18px;
  margin-bottom: 14px;
}
.my-missions h3 i {
  color: #489EA9;
  margin-right: 5px;
}
.my-missions p {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 16px;
  line-height: normal;
  padding:5px;
}
.work-experiences {
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F9F8F8;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.work-experiences h3 {
  border-bottom: 1px solid #499EAA;
  font-family: 'Montserrat', sans-serif;
  color: #405F76;
  font-size: 23px;
}

.button {
  color: white;
  background-color: #489ea9;
  border-radius: 4px;
  transition: background 0.2s ease;
  font-family: 'Montserrat';
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
  white-space: 10px;
}

.button:hover {
  background: #66BECB;
  color: white;
}

.alumnus-panel {
  position: relative;
  flex: 1 1 auto;
  // background-color: white;
  // box-shadow: 0 0 16px rgba(0,0,0,0.1);
  padding: 24px;
}
.alumnus-experience {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.multiple {
  margin-top: 24px;
}
.alumnus-experience .experience-details {
  margin-left: 12px;
}
.alumnus-experience .experience-img {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  border: 1px solid #F7F7F7;
}
.alumnus-experience .experience-details p {
  margin: 0;
}
.alumnus-experience .experience-title {
  font-weight: bold;
  color: cadetblue;
}
.alumnus-experience .experience-details p {
  margin: 0;
}

.alumnus-experience .experience-corp-name {
  font-weight: lighter;
}
.multiple .alumnus-experience .experience-line::before {
  content: '';
  position: absolute;
  left: 26px;
  border: 5px solid #D3D3D3;
  top: 15px;
  border-radius: 50%;
}

.my-experiences {
  background-color: white;
  margin-top: 10px;
}
