
<div class="main">
  <div class="wrapper">
    <div class="row">
      <% @jobs.each do |job| %>
        <div class="col-xs-12 col-md-6">
          <%= render 'components/card', job: job %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= console %>
