
<div class="main">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-xl-6">
        <div class="job-containers">
          <% if @jobs.empty? %>
            <div class="head-quizz">
              Désolé, nous n'avons pas d'offre correspondant.
              <%= link_to "Spin the wheel!", jobs_path, :class => "btn-flat" %>
          <% else %>
            <% @jobs.first(4).each do |job| %>
              <div class="">
                <%= render 'components/card', job: job %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-xl-6">
        <%= render 'components/map', markers: @markers %>
      </div>
    </div>
  </div>
</div>
