<div class="main">
  <div class="wrapper">
    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="job-containers">
          <% @jobs.sample(8).each do |job| %>
            <div class="">
              <%= render 'card', job: job %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
