<div class="alumnus-panel">


  <div class="alumnus-panel-content">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="mt-2">Experience</h3>
    </div>
    <div class="alumnus-experiences">
      <div class="alumnus-experience">
        <div class="experience-img" style="background-image: url(https://static.wixstatic.com/media/3c6da2_cbfa1840ddca46e29deb49e6a8483f48~mv2.jpg/v1/fill/w_250,h_250,al_c,q_90/file.jpg)">
        </div>
        <div class="experience-details">
          <p class="experience-title">Oxelo</p>
          <p class="experience-corp-name"></p>
        </div>
      </div>
      <div class="multiple">
        <div class="alumnus-experience">
          <div class="experience-line"></div>
          <div class="experience-details">
            <p class="experience-title">Leader Communication &amp; e-commerce - Oxelo Scooter</p>
            <p class="experience-dates">Jan 2018 - Present</p>
          </div>
        </div>
        <div class="alumnus-experience">
          <div class="experience-line"></div>
          <div class="experience-details">
            <p class="experience-title">Responsable e-commerce</p>
            <p class="experience-dates">Feb 2014 - Dec 2017</p>
          </div>
        </div>
        <div class="alumnus-experience">
          <div class="experience-line"></div>
          <div class="experience-details">
            <p class="experience-title">Responsable communication digitale</p>
            <p class="experience-dates">Sep 2011 - Jan 2014</p>
          </div>
        </div>
        <div class="alumnus-experience">
          <div class="experience-line"></div>
          <div class="experience-details">
            <p class="experience-title">Assistant Digital Marketing  Manager</p>
            <p class="experience-dates">Apr 2011 - Aug 2011</p>
          </div>
        </div>
      </div>
      <div class="alumnus-experience">
        <div class="experience-img" style="background-image: url(https://www.iscom.fr//images/iscom_lille-logo-menu.png)">
        </div>
        <div class="experience-details">
          <p class="experience-title">Intervenant ISCOM - Planning digital</p>
          <p class="experience-corp-name">Iscom Lille</p>
          <p class="experience-dates">Oct 2017 - Dec 2017</p>
        </div>
      </div>
      <div class="alumnus-experience">
        <div class="experience-img" style="background-image: url(https://static.wixstatic.com/media/323d1c_38e3c76679354d8aa3ba9722325a2888~mv2.png/v1/fill/w_200,h_200,al_c,q_90/file.jpg)">
        </div>
        <div class="experience-details">
          <p class="experience-title">BNP Paribas International Buyers</p>
          <p class="experience-corp-name">8 months</p>
        </div>
      </div>
      <div class="multiple">
        <div class="alumnus-experience">
          <div class="experience-line"></div>
          <div class="experience-details">
            <p class="experience-title">Assistant Operational Marketing Manager</p>
            <p class="experience-dates">Jul 2010 - Sep 2010</p>
          </div>
        </div>
        <div class="alumnus-experience">
          <div class="experience-line"></div>
          <div class="experience-details">
            <p class="experience-title">Assistant Operational Marketing Manager</p>
            <p class="experience-dates">Jan 2010 - Mar 2010</p>
          </div>
        </div>
      </div>
      <div class="alumnus-experience">
        <div class="experience-img" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/C%26A_logo_02_RGB2400_colour.png/1200px-C%26A_logo_02_RGB2400_colour.png)">
        </div>
        <div class="experience-details">
          <p class="experience-title">Salesman</p>
          <p class="experience-corp-name">C&amp;A Barcelona</p>
          <p class="experience-dates">Jul 2009 - Jul 2009</p>
        </div>
      </div>
      <div class="alumnus-experience">
        <div class="experience-img" style="background-image: url(https://res.cloudinary.com/wagon/image/upload/v1535316205/h5kk4xy2c3f3h6x3l1m8.jpg)">
        </div>
        <div class="experience-details">
          <p class="experience-title">Assistant Financial Analyst</p>
          <p class="experience-corp-name">Crédit Mutuel Arkéa</p>
          <p class="experience-dates">Jul 2008 - Jul 2008</p>
        </div>
      </div>
    </div>
    <hr>
    <h3>Education</h3>
    <div class="alumnus-experiences">
      <div class="alumnus-experience">
        <div class="experience-img" style="background-image: url(https://res.cloudinary.com/wagon/image/upload/v1546728257/sccxigmoahemslr5mimm.jpg)">
        </div>
        <div class="experience-details">
          <p class="experience-title">Batch #328</p>
          <p class="experience-corp-name">Le Wagon</p>
          <p class="experience-dates">2019 </p>
        </div>
      </div>
      <div class="alumnus-experience">
        <div class="experience-img" style="background-image: url(https://www.iscom.fr//images/iscom_lille-logo-menu.png)">
        </div>
        <div class="experience-details">
          <p class="experience-title">Master's degree</p>
          <p class="experience-corp-name">ISCOM</p>
          <p class="experience-dates">2009 - 2011</p>
        </div>
      </div>
      <div class="alumnus-experience">
        <div class="experience-img" style="background-image: url(https://res.cloudinary.com/wagon/image/upload/v1532975691/efc7riemj56xwskhcro5.jpg)">
        </div>
        <div class="experience-details">
          <p class="experience-title">Bachelor</p>
          <p class="experience-corp-name">IÉSEG School of Management</p>
          <p class="experience-dates">2004 - 2009</p>
        </div>
      </div>
    </div>

  </div>
</div>
