
<%= render 'components/banner' %>
<div class="ccf">
  <%= image_tag "CCF_.png", class: "CCF-png"%>
</div>

<div class="container-home d-flex justify-content-around">
  <div class="left-side mt-5">
    <%= image_tag "communicating_guys.png", class: "home-png-left"%>
      <br>
      <br>
      <br>
      <br>
      <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
  </div>

  <div class="right-side">
    <p>           Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
      <br>
      <br>
      <br>
      <br>
      <br>
    <%= image_tag "data_guy.png", class: "home-png-right"%>
  </div>
</div>
