<div class="quizz text-center">
  <%= link_to preferences_path(step: step, value: "#{value}"), method: :post do %>
    <%= image_tag "#{value}.png" %>
    <div class="title-category"><%= value.gsub("-", " ").upcase %></div>
  <% end %>
</div>
