<div class="main">
  <div class="container">
    <div class="head-quizz">
      <p><%= raw(@step_infos[:text]) %></p>
      <h1><%= @step_infos[:title] %></h1>
    </div>
    <div class="quizz-layout">
      <div class="row d-flex justify-content-around">
        <% @step_infos[:values].each do |preference| %>
          <%= render "card", step: params[:step].to_i, value: preference %>
        <% end %>
      </div>
    </div>
  </div>
</div>
