// .banner {
//   background-size: cover;
//   background-color : #499EAA;
//   background-position: center;
//   padding: 10px;
// }

// .banner_double {
//   max-width: 80%;
//   padding: 0px, 20px;
// }

// .banner h1 {
// }

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.banner-container {
  padding-top: 50px;
  vertical-align: middle;
  justify-content: space-around;
  background-color: #499EAA;
  height: 100vh;
}

.banner-title {
  margin-top: 40px;
}

.banner-title button {
  align-self: center;
}

.banner-logo {
  max-width: 40%;
  padding-top: 50px;
  letter-spacing: 3px;
}

.banner-logo p {
  color: #ebebeb;
  font-size: 24px;
  padding-left: 24px;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 30px;
}

.banner-logo h3 {
  color: #ebebeb;
  font-size: 40px;
  font-weight: bold;
  padding-left: 24px;
}

.banner-image span {
  background-color: darkcyan;
  padding: 1px 5px 1px 5px;
  border-radius: 2px;
}

.banner-image {
  max-width: 40%;
}
