.btn-gradient {
  font-family: 'Rancho';
  color: #ECECEC;
  text-align: center;
  background-color: #E26161;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  vertical-align: middle;
  letter-spacing: 1px;
  font-size: 32px;
  width: 300px;
  border-color: #E26161;
  // border: 5px solid #E26161;
}

.btn-flat {
  color: white;
  padding: 5px 25px;
  border-radius: 4px;
  background-image: url("button.png");
  text-align : right;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
