.btn-gradient {
  font-family: 'Rancho';
  color: #ECECEC;
  text-align: center;
  background-color: #E26161;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  vertical-align: middle;
  letter-spacing: 1px;
  font-size: 32px;
  width: 300px;
  border-color: #E26161;
  text-decoration: none;
  transition: 0.2s ease;
  // border: 5px solid #E26161;
}

.btn-gradient:hover {
  background-color: #F38686;
  text-decoration: none;
  color: white;
  font-size: 34px;
  overflow: hidden;
}

.btn-flat {
  color: white;
  padding: 5px 25px;
  border-radius: 4px;
  background-color: #499EAA;
  transition: background 0.2s ease;
  font-family: 'Montserrat';
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-upload {
  font-size: 24px;
  font-family: 'Montserrat';
}

.btn-flat:hover {
  background: #66BECB;
  color: white;
}

.animoBorderLeftRight{display:inline-block;position:relative;cursor:pointer;margin-right: 15px;color:white;text-decoration:none;}
.animoBorderLeftRight::after{content:'';position:absolute;width:100%;transform:scaleX(0);height:2px;bottom:0;left:0;background-color:#f39c12;transform-origin:bottom right;transition:transform .4s cubic-bezier(.86,0,.07,1);}
.animoBorderLeftRight:hover::after{transform:scaleX(1);transform-origin:bottom left;}
