
.footer {
  background-color: #364156;
  position: inherit;
  bottom: 0;
  width: 100%;
}

.footer-menu {
  padding-top: 20px;
  height: 70px;
}

.copyright {
  font-family: Montserrat;
  font-size: 12px;
  color: #499EAA;
  text-align: left;
  padding-left: 4px;
  padding-bottom: 3px;
  text-align: center;
}

// span {
//   font-family: Rancho;
//   font-size: 50px;
//   color: #499EAA;
// }

.logo p {
  font-family: Rancho;
  font-size: 28px;
  color: #499EAA;
  text-align: center;
  margin-bottom: 0;
}

.logo {
  margin-botton: 0;
}
