#map {
  height: calc(100vh - 70px);
  // width: 100vh;
  // margin-left: 8vh;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mapboxgl-popup-content {
  text-align: center;
  border-radius: 5px;
  background-color: #F4F4F4;
  opacity: 0.8;
}

.mapboxgl-popup-content h4 {
  font-family: 'Ubuntu';
  font-size: 14px;
  // font-weight: bold;
  text-transform: uppercase;
  color: #489ea9;
}

.mapboxgl-popup-content img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  }

.mapboxgl-popup-content p {
font-size: 12px;
color: black;
line-height: 2px;
}
