.mini-card {
  overflow: hidden;
  height: 70px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #f2f2f2!important;
  transition: 0.9s ease;
  position: relative;
}
.mini-card:hover {
  box-shadow: 0 0 5px rgba(100,100,100,0.9);
  transition: 0.9s ease;
}

.mini-card img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 3px;
  vertical-align: text-bottom
}

.mini-card h5 a {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
  text-decoration: none;
  color: #364156;
  transition: 0.2s ease;
}
.mini-card h5 a:hover {
  color: #489ea9;
  transition: 0.2s ease;
}

.mini-card p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.mini-card-infos {
  width: 55%;
}

.trash {
  position: absolute;
  top: 20px;
  right: 10px;
}

.status {
  font-family: 'Montserrat';
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: $red;
  line-height:16px;
}
.application-validated {
  color: #499DAA;
}
