.mini-card {
  overflow: hidden;
  height: 70px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  border-radius: 3px;
}

.mini-card img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.mini-card h2 a {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: none;
  color: #364156;
  transition: 0.2s ease;
}
.mini-card h2 a:hover {
  color: lightgrey;
  transition: 0.2s ease;
}

.mini-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 2px;
}

.mini-card .mini-card-infos {
  padding: 10px;
}
