

.modal-body .job-content-modals p {
  color: #364156;
  font-family: 'Ubuntu';
  font-weight: lighter;
  font-size: 16px;

}

.modal-dialog {
  color: black;
  z-index: 999;
}

.modal-content {
  width: 900px;
  margin: 30px auto;
  margin-left: -200px;
}
