.navbar-openseason {
  justify-content: space-between;
  background: #364156;
}

.navbar-openseason .navbar-collapse {
  flex-grow: 0;
}

.navbar-openseason .navbar-brand img {
  width: 150px;
}
.navbar .nav-item a{
  color: #F9F8F8;
  padding-bottom: 16px;

}
.navbar .nav-item a:hover {
  padding-bottom: 16px;
  border-bottom: 1px solid;
}
.dropdown-menu .dropdown-item {
  color: black;
}

